---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Fonts
$base-font-family:    Georgia, Times, sans-serif;
$base-font-size:      1.0rem;
$base-font-weight:    400;
$base-line-height:    1.5;

$menu-font-family:    "Helvetica Neue", Helvetica, Arial, Sans-serif;
$menu-font-size:      0.750rem;
$menu-font-weight:    500;
$menu-letter-spacing: 0.063rem;

$post-font-size:      1.125rem;

// Colors
$text-color:          #000000;
$bg-color:            #ffffff;
$card-bg-color:       #f7f7f7;
$banner-bg-color:     darken($card-bg-color, 7%);
$brand-color:         #b03d11;
$brand-color2:        #7b2a4a;
$brand-color3:        #335d69;
$brand-color4:        #5c504a;
$brand-color-light:   lighten($brand-color, 10%);
$brand-color2-light:  lighten($brand-color2, 10%);
$brand-color-dark:    darken($brand-color, 10%);
$brand-color2-dark:   darken($brand-color2, 10%);

// Spacing
$spacing-unit:        1.250rem;
$sidebar-width:       15.625rem;

// Images
$logo-img:           "{% include site-url.html %}/assets/logo-web.png";
$logo-height:        65px;
$logo-width:         320px;

$chandelier-img:     "{% include site-url.html %}/assets/chandelier.jpg";
$author-img:         "{% include site-url.html %}/assets/sabry.png";
$banner-img:         "{% include site-url.html %}/assets/banner.png";

// Devices
$on-sm:              34rem;
$on-md:              48rem;
$on-lg:              62rem;
$on-xl:              75rem;

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "layout",
  "post",
  "banner"
;
