---
layout: default
home: true
permalink: /beta/
---
{% for post in site.posts %}
<div class="content-card">

  <h2>
    <a href="{% include siteurl.html %}{{ post.url }}">{{ post.title }}</a>
  </h2>

  <p>
    <span class="post-meta">
      <time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ post.date | date: "%e/%m/%Y" }},
      </time>
      {% if site.author %}
      por
      <a href="{% include siteurl.html %}/sobre">
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">
            {{ site.author }}
          </span>
        </span>
      </a>
      {% endif %}
    </span>
  </p>

  <div>
    {% include postthumb.html post=post %}
    <div>
      <p>
        {{ post.excerpt }}
        <a href="{% include siteurl.html %}{{ post.url }}">
          Continue lendo &raquo;
        </a>
      </p>
    </div>
  </div>

</div>
{% endfor %}
