<div class="banner col-xs-12">

</div>

<div class="optin col-xs-12">
  <!-- Begin MailChimp Signup Form -->
  <div id="mc_embed_signup">
    <form action="//monamiedeco.us13.list-manage.com/subscribe/post?u=7a7c2a85b8c62cbe0b0502a25&amp;id=8f8dbe234f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
        <span>Cadastre-se para receber atualizações, artigos e dicas de decoração!</span>
        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="seu endereço de email" required>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_7a7c2a85b8c62cbe0b0502a25_8f8dbe234f" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Quero receber!" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
    </form>
  </div>
  <!--End mc_embed_signup-->
</div>
