<footer>
  <div class="row">
    <div id="footerlogo" class="col-xs-12">
      <p>
        <a href="{% include siteurl.html %}/">
          {{ site.title }}
        </a>
      </p>
    </div>
  </div>
  <div class="row">
    <div id="footersocial" class="col-xs-12">
      <p>        
        <a href="{{ site.fburl }}">
          <i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i>
        </a>
        <a href="{% include siteurl.html %}/contato">
          <i class="fa fa-envelope-square fa-3x" aria-hidden="true"></i>
        </a>
      </p>
    </div>
  </div>
  <div class="row">
    <div id="copyright" class="col-xs-12">
      <p>
        &copy; 2016
        <a href="{% include siteurl.html %}/">
          Mon Amie Déco.
        </a>
        Todos os direitos reservados.
      </p>
    </div>
  </div>
</footer>
