<header id="header" class="row">
  <div id="title" class="col-md-6">
  {% if page.home %}
    <h1>
  {% else %}
    <p>
  {% endif %}
      <a href="{{ prepend: "/" | prepend: site.baseurl }}">
        {{ site.title }}
      </a>
  {% if page.home %}
    </h1>
  {% else %}
    </p>
  {% endif %}
  </div>
  <nav class="col-md-6">
    <ul>
      <li>
          <span></span>
          <a href="{{ prepend: "/" | prepend: site.baseurl }}">
            Início
          </a>
      </li>
      <li>
        <span></span>
        <a href="{{ "sobre" | prepend: "/" | prepend: site.baseurl }}">
          Sobre
        </a>
      </li>
      <li>
        <a href="{{ "servicos" | prepend: "/" | prepend: site.baseurl }}">
          Serviços
        </a>
      </li>
      <li>
        <a href="{{ "contato" | prepend: "/" | prepend: site.baseurl }}">
          Contato
        </a>
      </li>
    </ul>
  </nav>
</header>
