<header id="header" class="row">
  <div id="title" class="col-md-6">
  {% if page.home %}
    <h1>
  {% else %}
    <p>
  {% endif %}
      <a href="{% include site-url.html %}/">
        {{ site.title }}
      </a>
  {% if page.home %}
    </h1>
  {% else %}
    </p>
  {% endif %}
  </div>
  <nav class="col-md-6">
    <ul>
      <li>
          <span></span>
          <a href="{% include site-url.html %}/">
            Início
          </a>
      </li>
      <li>
        <span></span>
        <a href="{% include site-url.html %}/sobre">
          Sobre
        </a>
      </li>
      <li>
        <a href="{% include site-url.html %}/servicos">
          Serviços
        </a>
      </li>
      <li>
        <a href="{% include site-url.html %}/contato">
          Contato
        </a>
      </li>
    </ul>
  </nav>
</header>
