html {
  font-size: 100%;
}

body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    color: $text-color;
    background-color: $bg-color;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
    color: $brand-color2;
}

a {
    color: $brand-color2;
    text-decoration: none;

    &:visited {
        color: $brand-color2;
        text-decoration: none;
    }

    &:hover {
        color: $brand-color2-light;
        text-decoration: none;
    }
}
