article.content-card {
  margin-top: 0;
}

.post-thumb {
  float: left;
  margin-right: $spacing-unit;
  margin-bottom: $spacing-unit;

  img {
    width: 440px; /* convert to rem */
  };
}

.post-header {  
  p {
    margin-bottom: 0.5rem;
  }
}

.post-share {
  display: block;
  margin-bottom: 1rem;
}

.post-content {
  font-size: $post-font-size;
  
  h2 {
      margin-top: $spacing-unit * 2.5;
  }
  
  img {
    width: 860px;
    margin-bottom: 1rem;
  }
}

.attribution {
  position: relative;
  font-size: 0.875rem;
  color: white;
}

.attribution a {
  color: white;
}

.attribution a:hover{
  text-decoration: underline;
}

.attribution img {
  position: relative;
  z-index: 3;
}
.attribution div {
  z-index: 4;
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,.4);
  width: 100%;
  
  text-align: right;
  padding-right: 20px;
  margin-bottom: 1rem;
}

@include media-query($on-md) {
  .attribution div {
    z-index: 2;
  }
}

.attribution img:hover {
  z-index:1;
}
.attribution div:hover {
  z-index:4;
}
