<!DOCTYPE html>
<html lang="pt-BR" xml:lang="pt-BR">

{% include head.html %}

<body>
  <div class="container">
    {% include header.html %}

    <div class="row">
    {% if page.home %}
      {% include banner.html %}
    {% endif %}
      {% include optin.html %}
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="separator"></div>
      </div>
    </div>

    <div class="row">
      <div id="wrapper">
        {{ content }}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="separator"></div>
      </div>
    </div>

    {% include footer.html %}
  </div>

  <!-- Bootstrap JS disabled because only the grid system is being used -->
  <!-- jQuery first, then Bootstrap JS. -->
  <!--
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js" integrity="sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7" crossorigin="anonymous"></script>
  -->
  <!-- Facebook SDK -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

</body>

</html>
